## Environment normalization:
/.bundle
/vendor/bundle

## Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log
/tmp
/spec/tmp

# Ignore Byebug command history file.
.byebug_history

# ignore env info
.env

# ignore development files
_DEV

# ignore secrets.yml
config/secrets.yml
