<div id="home-wrapper">
  <div class="section" id="top-section">
    <div class="top-box">
      <div class="top">
        <img id="drinks-img" src="/assets/drinks.png" alt="Drinks">
      </div>
      <div class="bottom-phrase">Rate Drink Specials</div>
    </div>
    <div class="top-box">
      <div class="top">
        <img id="review-img" src="/assets/review.png" alt="Review">
      </div>
      <div class="bottom-phrase">Write Bar Reviews</div>
    </div>
    <div class="top-box">
      <div class="top">
      <img src="/assets/search2.png" alt="Search">
    </div>
      <div class="bottom-phrase">Search for Happy Hours</div>
    </div>
  </div>
  <div class="section" id="middle-section">
    <div class="middle-box" id="quotes-area">
      <p class="quote">"After work, I just want to know where I can enjoy affordable drinks with some friends. Luckily, there's <em>SipSearcher!"</em></p>
      <p class="signature">- Amy, Washington, DC</p>
    </div>
    <div class="middle-box" id="app-image-area">
      <img id="app-img" src="/assets/app-img.png" alt="SipSearcher">
    </div>
  </div>

  <div class="section" id="bottom-section">
    <h2 id="phrase-section">Please drink responsibly</h2>
    <a href="https://github.com/FreshOceans/SipSearcher" target="_blank"><img src="/assets/github.png" alt="Github"></a>
  </div>
</div>
