$border: 1px solid #e6e6e6;
$shadow: 0 0 4px rgba(0,0,0,0.3);
$amaranth: 'Amaranth', sans-serif;
$raleway: 'Raleway', sans-serif;
$primary: #e6e6e6;
$font-color: #002266;
$fringe: 1px solid #99c2ff;
$button-bg: #ff3333;
$button-hover: #ff6666;
$button-active: #e60000;
$break: 780px;

#bar-detail-wrapper{
  box-sizing: border-box;
  width: 700px;
  margin: auto;
  box-shadow: $shadow;
  background-color: $primary;
  @media screen and (max-width: $break){
    width: 360px;
  }
  #info-map-div{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    @media screen and (max-width: $break){
      flex-direction: column;
      justify-content: center;
    }
    #bar-info-container{
      box-sizing: border-box;
      width: 320px;
      height: 320px;
      padding: 10px;
      border: $border;
      border-radius: 3px;
      background-color: white;
      box-shadow: $shadow;
      #bar-name-container{
        box-sizing: border-box;
        height: 60px;
        border-bottom: $fringe;
        text-align: center;
        #bar-name{
          margin: 0;
          line-height: 60px;
          font-size: 26px;
          font-family: $amaranth;
          color: $font-color;
        }
      }
      #bar-address-container{
        box-sizing: border-box;
        height: 30px;
        margin-top: 10px;
        text-align: center;
        #bar-address{
          margin: 0;
          font-size: 14px;
          line-height: 30px;
          font-family: $raleway;
        }
      }
      #bar-tag-container{
        box-sizing: border-box;
        height: 30px;
        margin-top: 10px;
        text-align: center;
        #bar-tag{
          margin: 0;
          font-size: 14px;
          line-height: 30px;
          font-family: $raleway;
        }
      }
      #bar-hours-container{
        box-sizing: border-box;
        height: 30px;
        margin-top: 10px;
        text-align: center;
        #bar-hours{
          margin: 0;
          font-size: 18px;
          line-height: 30px;
          font-family: $amaranth;
          color: $font-color;
        }
      }
      #drink-rating-container{
        box-sizing: border-box;
        height: 150px;
        margin-top: 10px;
        text-align: center;
        #drink-icon-wrapper{
          height: 70px;
          .icon-box{
            display: inline-block;
            margin: 20px;
            img{
              height: 45px;
            }
          }
        }
        #rating-wrapper{
          height: 70px;
          font-family: $amaranth;
          .rating-box{
            display: inline-block;
            height: 40px;
            width: 50px;
            margin: 10px 18px;
            .rating{
              margin: 0;
              font-size: 20px;
              line-height: 40px;
            }
          }
        }
      }
      #last-updated{
        font-size: 10px;
      }
    }
    #map-container{
      box-sizing: border-box;
      border: $border;
      border-radius: 3px;
      height: 320px;
      width: 320px;
      box-shadow: $shadow;
      @media screen and (max-width: $break){
        margin-top: 20px;
      }
    }
  }
  #ratings-area{
    padding: 0 20px 20px 20px;
    #rating{
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: $border;
      border-radius: 3px;
      background-color: white;
      box-shadow: $shadow;
      .rating-top{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        @media screen and (max-width: $break){
          flex-direction: column;
          justify-content: center;
        }
        .left-info{
          box-sizing: border-box;
          display: flex;
          width: 340px;
          align-items: center;
          @media screen and (max-width: $break){
            width: 300px;
          }
          #thumbnail{
            box-sizing: border-box;
            height: 65px;
            width: 65px;
            border: $fringe;
            border-radius: 3px;
            outline: none;
          }
          .name-post-data{
            display: inline-block;
            box-sizing: border-box;
            width: 250px;
            .rater-name{
              margin: 0;
              font-size: 26px;
              padding: 0 10px;
              font-family: $amaranth;
              a{
                text-decoration: none;
                color: $font-color;
              }
            }
            .rater-date{
              margin: 0;
              padding: 2px 10px;
              font-size: 12px;
              font-family: $raleway;
            }
          }
        }
        .right-info{
          box-sizing: border-box;
          width: 340px;
          @media screen and (max-width: $break){
            width: 300px;
            margin-top: 20px;
          }
          .report-icon-container{
            display: flex;
            justify-content: space-around;
            padding: 5px;
            .report-icon-box{
              img {
                height: 30px;
              }
            }
          }
          .report-rating-container{
            display: flex;
            justify-content: space-around;
            .report-rating-box{
              display: inline-block;
              width: 30px;
              text-align: center;
              .report-rating{
                margin: 0;
                font-family: $amaranth;
              }
            }
          }
        }
      }
      .rating-bottom{
        width:100%;
        padding-top: 10px;
        .rating-comment-container{
          padding: 5px;
          border: $fringe;
          border-radius: 3px;
          .rating-comment{
            margin: 0;
            font-family: $amaranth;
            color: $font-color;
          }
        }
      }
    }
    #rating-form{
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: $border;
      border-radius: 3px;
      background-color: white;
      box-shadow: $shadow;
      .rating-form-top{
        display: flex;
        height: 80px;
        @media screen and (max-width: $break){
          height: auto;
          flex-direction: column;
          justify-content: center;
        }
        .rating-form-left-info{
          box-sizing: border-box;
          display: inline-block;
          height: 80px;
          width: 340px;
          align-items: center;
          @media screen and (max-width: $break){
            width: 300px;
            margin-top: 20px;
          }
          #new-rating-header{
            text-align: center;
            margin: 0;
            font-size: 26px;
            padding: 0 10px;
            font-family: $amaranth;
            color: $font-color;
          }
          #rating-form-rating-select{
            text-align: center;
            margin: 10px;
            #rating-label{
              font-family: $amaranth;

            }
          }
        }
        .rating-form-right-info{
          box-sizing: border-box;
          height: 80px;
          width: 340px;
          @media screen and (max-width: $break){
            width: 300px;
            margin-top: 10px;
          }
          .rating-form-icon-container{
            display: flex;
            justify-content: space-around;
            padding: 5px;
            .rating-form-icon-box{
              img {
                height: 30px;
              }
            }
          }
          .rating-form-rating-container{
            display: flex;
            justify-content: space-around;
            .rating-form-rating-box{
              display: inline-block;
              height: 30px;
              width: 50px;
              text-align: center;
              .rating-form-rating{
                margin: 0;
                font-family: $amaranth;
              }
            }
          }
        }
      }
      .rating-form-bottom{
        position: relative;
        box-sizing: border-box;
        width:100%;
        height: auto;
        .rating-form-comment-area{
          box-sizing: border-box;
          height: 65px;
          width: 638px;
          padding: 5px;
          border: $fringe;
          resize: none;
          outline: none;
          border-radius: 3px;
          padding: 5px;
          font-family: $amaranth;
          color: $font-color;
          font-size: 16px;
          @media screen and (max-width: $break){
            width: 300px;
            height: 120px;
          }
        }
        .submit_btn{
          position: absolute;
          box-sizing: border-box;
          height: 30px;
          width: 100px;
          bottom: 10px;
          right: 5px;
          background-color: $button-bg;
          box-shadow: $shadow;
          font-size: 18px;
          outline: none;
          text-transform: uppercase;
          color: white;
          font-family: $amaranth;
          border: none;
          border-radius: 4px;
          &:hover{
            background-color: $button-hover;
          }
          &:active{
            background-color: $button-active;
            transform: translate(2px, 2px);
            box-shadow: 0 0 0 rgba(0,0,0,0.3);
          }
        }
      }
    }
  }
}
