$border: 1px solid #e6e6e6;
$shadow: 0 0 4px rgba(0,0,0,0.3);
$amaranth: 'Amaranth', sans-serif;
$raleway: 'Raleway', sans-serif;
$primary: #e6e6e6;
$font-color: #002266;
$fringe: 1px solid #99c2ff;
$button-bg: #ff3333;
$button-hover: #ff6666;
$button-active: #e60000;
$break: 780px;

#detail-wrapper{
  box-sizing: border-box;
  width: 700px;
  margin: auto;
  box-shadow: $shadow;
  background-color: $primary;
  @media screen and (max-width: $break){
    width: 360px;
  }
  .profile-name-container{
    box-sizing: border-box;
    height: 40px;
    width: 320px;
    margin: auto;
    padding: 10px;
    text-align: center;
    .profile-name{
      margin: 0;
      font-family: $amaranth;
      color: $font-color;
    }
  }
  #detail-container{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    @media screen and (max-width: $break){
      flex-direction: column;
      justify-content: center;
    }
    #left-top-area{
      box-sizing: border-box;
      width: 320px;
      height: 320px;
      padding: 10px;
      border: $border;
      border-radius: 3px;
      background-color: white;
      box-shadow: $shadow;
    }
    .bar-index-box{
      @extend #left-top-area;
      height: 160px;
      padding: 10px;
    }
    #right-bottom-area{
      box-sizing: border-box;
      border: $border;
      border-radius: 3px;
      height: 320px;
      width: 320px;
      box-shadow: $shadow;
      @media screen and (max-width: $break){
        margin-top: 20px;
      }
      img {
          height: 100%;
          width: 100%;
          background-size: contain;
      }
    }
    .form-div{
      box-sizing: border-box;
      width: 290px;
      height: 50px;
      margin: 5px auto;
      text-align: center;
      #item-display{
        margin: 20px;
        font-size: 18px;
        .item-label{
          font-family: $raleway;
        }
        .item{
          color: $font-color;
          font-family: $amaranth;
        }
      }
      .form-btn{
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        height: 50px;
        width: 160px;
        margin: 5px;
        background-color: $button-bg;
        box-shadow: $shadow;
        font-size: 18px;
        outline: none;
        text-transform: uppercase;
        color: white;
        font-family: $amaranth;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        line-height: 50px;
        &:hover{
          background-color: $button-hover;
        }
        &:active{
          background-color: $button-active;
          transform: translate(2px, 2px);
          box-shadow: 0 0 0 rgba(0,0,0,0.3);
        }
      }
    }
  }
  #ratings-area{
    padding: 0 20px 20px 20px;
    .rating{
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: $border;
      border-radius: 3px;
      background-color: white;
      box-shadow: $shadow;
      .rating-top{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        @media screen and (max-width: $break){
          flex-direction: column;
          justify-content: center;
        }
        .left-info{
          box-sizing: border-box;
          height: 65px;
          width: 340px;
          @media screen and (max-width: $break){
            width: 300px;
          }
          .quarter-div{
            height: 30px;
            width: 100%;
            margin: auto;
            text-align: center;
            line-height: 30px;
            .rating-bar-name{
              margin: 0;
              text-decoration: none;
              font-family: $amaranth;
              font-size: 18px;
            }
            .rating-label{
              font-family: $raleway;
            }
            .rating-display{
              font-family: $amaranth;
              font-size: 18px;
            }
          }
        }
        .right-info{
          box-sizing: border-box;
          width: 340px;
          @media screen and (max-width: $break){
            width: 300px;
            margin-top: 20px;
          }
          .report-icon-container{
            display: flex;
            justify-content: space-around;
            padding: 5px;
            .report-icon-box{
              img {
                height: 30px;
              }
            }
          }
          .report-rating-container{
            display: flex;
            justify-content: space-around;
            .report-rating-box{
              display: inline-block;
              height: 30px;
              width: 30px;
              text-align: center;
              .report-rating{
                margin: 0;
                font-family: $amaranth;
              }
            }
          }
        }
      }
      .rating-bottom{
        width:100%;
        padding-top: 10px;
        .rating-comment-container{
          padding: 5px;
          border: $fringe;
          border-radius: 3px;
          .rating-comment{
            margin: 0;
            font-family: $amaranth;
            color: $font-color;
          }
        }
      }
    }
  }
}
